@charset "UTF-8";
/*
 * Default theme，适用于 core/mweb-base.scss。
 * 取值参考 chrome 默认样式：
 * https://chromium.googlesource.com/chromium/blink/+/refs/heads/main/Source/core/css/html.css
 * 所有 import "core/mweb-base.scss" 的文件都应该同时导入此变量文件。
 */
/* color */
/* font & line */
/* boxing */
/* elememts */
/* color */
/* prism & pre */
/* font */
/* header */
/* spacing */
/* table */
/*
 * 基准样式，相当于 reset.css，使主题在不同平台下有统一的表现。
 * 各个属性的默认值为 chrome 的默认样式，见 variables/default.scss。
 */
:root {
  --text-color: #1f2329;
  --bg-color: white;
  --side-bar-bg-color: white;
  --active-file-bg-color: white;
  --rawblock-edit-panel-bd: #f5f6f7;
  --window-border: 0 solid white;
  --control-text-color: #1f2329;
  --primary-color: #3370ff;
  --primary-btn-border-color: #3370ff;
  --active-file-border-color: #3370ff;
  --primary-btn-text-color: #3370ff;
  --item-hover-text-color: #3370ff;
  --meta-content-color: #3370ff;
  --search-select-text-color: #3370ff;
  --heading-char-color: #3370ff;
  /* Mermaid diagrams*/
  --mermaid-theme: default;
}

.markdown-section {
  line-height: 1.68;
  -webkit-text-size-adjust: 100%;
  max-width: 72%;
  /* margin: 0px auto; */
  padding: 1.6rem 3.2rem;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, Segoe UI, PingFang SC, Microsoft Yahei, Hiragino Sans GB, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 16px;
  color: #1f2329;
  /* spacing */
  /* block */
  /* list */
  /* inline */
  /* table */
  /* code block */
}
.markdown-section pre {
  background-color: #282c34;
  border-radius: 5px;
  padding: 1.25rem 1.5rem;
  font-size: 16px;
}
.markdown-section .img-wrapper img {
  max-width: 60%;
}
.markdown-section * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.markdown-section > *:first-child {
  margin-top: 0 !important;
}
.markdown-section > *:last-child {
  margin-top: 0 !important;
}
.markdown-section p, .markdown-section details, .markdown-section dl, .markdown-section ol, .markdown-section ul, .markdown-section xmp, .markdown-section plaintext, .markdown-section listing, .markdown-section blockquote, .markdown-section table, .markdown-section figure, .markdown-section hr {
  margin-top: 8px;
  margin-bottom: 8px;
}
.markdown-section h1 {
  font-size: 26px;
  font-weight: bold;
  margin-top: 26px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
.markdown-section h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 22px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
.markdown-section h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
.markdown-section h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
.markdown-section h5 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
.markdown-section h6 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
.markdown-section p {
  margin-left: 0;
  margin-right: 0;
}
.markdown-section pre, .markdown-section xmp, .markdown-section plaintext, .markdown-section listing {
  font-family: var(--monospace);
}
.markdown-section blockquote > :first-child {
  margin-top: 0;
}
.markdown-section blockquote > :last-child {
  margin-bottom: 0;
}
.markdown-section hr {
  border-style: inset;
  border-width: 1px;
}
.markdown-section img {
  max-width: 100%;
  height: auto;
}
.markdown-section li {
  word-wrap: break-all;
}
.markdown-section li + li {
  margin-top: 4px;
}
.markdown-section ul ul, .markdown-section ol ul, .markdown-section ul ol, .markdown-section ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-section .task-list-item {
  list-style-type: none;
}
.markdown-section a {
  color: #3370ff;
  text-decoration: underline;
}
.markdown-section a img {
  border: none;
}
.markdown-section b, .markdown-section strong {
  font-weight: bold;
}
.markdown-section i, .markdown-section cite, .markdown-section em, .markdown-section var, .markdown-section address, .markdown-section dfn {
  font-style: italic;
}
.markdown-section code, .markdown-section kbd, .markdown-section tt, .markdown-section samp {
  font-family: var(--monospace);
}
.markdown-section mark {
  color: #1f2329;
  padding: 0.2em 0;
  background-color: rgba(255, 246, 122, 0.8);
}
.markdown-section del, .markdown-section s {
  color: inherit;
}
.markdown-section table {
  color: black;
  border-collapse: collapse;
  background-color: white;
  border-spacing: 2px;
  font-size: 1em;
}
.markdown-section th, .markdown-section td {
  border-color: #dee0e3;
  border-width: 1px;
  border-style: solid;
}
.markdown-section th {
  padding: 8px 8px;
  font-size: 1em;
  font-weight: 500;
}
.markdown-section td {
  padding: 8px 8px;
  font-size: 1em;
  font-weight: normal;
}
.markdown-section pre.md-fences,
.markdown-section pre.md-meta-block,
.markdown-section .md-rawblock-control:not(.md-rawblock-tooltip) .md-rawblock-input {
  border-radius: 3px;
  border: 1px solid #dee0e3;
  padding: 10px;
  background-color: #f5f6f7;
}
.markdown-section .CodeMirror div.CodeMirror-cursor {
  border-color: #1f2329;
}
.markdown-section .md-math-block, .markdown-section .md-rawblock {
  margin-top: 1em;
  margin-bottom: 1em;
}
.markdown-section .md-rawblock > .md-rawblock-tooltip {
  background-color: #f5f6f7;
  transition: 0.5s;
  display: block;
  visibility: hidden;
  opacity: 0;
}
.markdown-section .md-rawblock:hover > .md-rawblock-tooltip {
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
  animation: none;
}
.markdown-section .md-rawblock-control:not(.md-rawblock-tooltip) {
  padding-left: 0px;
  padding-right: 0px;
}

.markdown-section * {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section h5, .markdown-section h6 {
  line-height: 1.4;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 0.37em;
}
.markdown-section blockquote {
  display: block;
  margin-left: 0;
  padding-left: 14px;
  border-left: 2px solid #3370ff;
  color: rgba(31, 35, 41, 0.7);
}
.markdown-section code {
  border-radius: 4px;
  margin-left: 2px;
  margin-right: 2px;
  word-spacing: normal;
  line-height: 1.6;
  padding: 0 2px;
}
.markdown-section pre {
  overflow-x: auto;
}
.markdown-section a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  hyphens: auto;
  word-break: break-word;
  text-decoration: none;
}
.markdown-section a:hover {
  text-decoration: underline;
}
.markdown-section hr {
  margin: 13px 0 12px;
  border: 0px;
  height: 1px;
  background-origin: content-box;
  background-image: linear-gradient(90deg, #bbbfc4, #bbbfc4);
  background-repeat: no-repeat;
}
.markdown-section ol {
  counter-reset: ol_counter;
  margin-left: 0;
  padding-left: 22px;
  list-style: none;
}
.markdown-section ol > li {
  word-wrap: break-all;
  padding-left: 0px;
  position: relative;
}
.markdown-section ol > li:before {
  content: counter(ol_counter) ".";
  counter-increment: ol_counter;
  color: #3370ff;
  position: absolute;
  margin-left: -22px;
  margin-right: 4px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: left;
  white-space: nowrap;
  overflow: visible;
  min-width: 18px;
  border-radius: 2px;
  transform: translateX(-2px);
  font-family: Helvetica Neue, Consolas;
}
.markdown-section li + li, .markdown-section ul ul, .markdown-section ol ul, .markdown-section ul ol, .markdown-section ol ol, .markdown-section li ul, .markdown-section li ol {
  margin-top: 4px;
}