:root{
  scroll-behavior: smooth;
  --main-dark-bg-color: #1E1E1E;
  --second-dark-bg-color: #323233;
  --third-dark-bg-color: rgb(60,60,60);

  --default-dark-border-color: #61666b;
  --skelon-bg-start-color: #2b2c2c;
  --skelon-bg-end-color: #2b2e2e;

  --main-dark-text-color: rgb(201, 209, 217);
  --second-dark-text-color: rgb(139, 148, 158);
}

@media (prefers-color-scheme:dark) {
  body {
    background-color: var(--main-dark-bg-color);
  }
}
@media (prefers-color-scheme:light) {
  body {
    background-color: #fff;
  }
}

#app {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0,0,0,0.06);
  box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0,0,0,0.12);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}
.drawer-modal-class {
  background-color: rgba(0,0,0,0.2);
}
.markdown-section {
  z-index: 1;
}
.markdown-section .doc-tag {
  cursor: pointer;
  padding: 0 6px;
  color: white;
  font-size: 12px;
  background-color: #F56C6C;
  border-radius: 10px;
}
.markdown-section .doc-tag::selection {
  background-color: transparent;
}
.markdown-section .doc-tag-main {
  text-decoration: none;
  border-bottom: 1px dashed #ccc;
}
// 底部可操作的抽屉遮罩
.operational-drawer-modal {
  all: unset
}
// 底部可操作性的抽屉
.operational-drawer {
  position:fixed;
  z-index: 3000;
}

body[theme=dark] {
  background-color:var(--main-dark-bg-color);
  color: var(--main-dark-text-color);

  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px var(--second-dark-text-color);
  }

}

html ::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px var(--second-dark-text-color);
}
