/* 复用元素 */
.color-info {
  background-color: #909399;
}
.color-danger {
  background-color: #F56C6C;
}
.color-warning {
  background-color: #E6A23C;
}
.color-success {
  background-color: #67C23A;
}
.color-main {
  background-color: #409EFF;
}
/* 顶部栏 */
.book-header {
  position: fixed!important;
  background-color: #fff!important;
  width: 100%!important;
  border-bottom: solid 1px #ddd!important;
  height: 51px!important;
}
.book-header h1 {
  padding: 0!important;
  width: 200px!important;
  margin: 0!important;
}
.book-header a[aria-label='GitHub'] {
  float: left!important;
}
.page-wrapper {
  margin-top: 40px!important;
}
/* 文章主体部分 */
.page-inner{
	margin:0 88px!important;
  max-width: 68%!important;
}
/* 滚动槽 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0,0,0,0.06);
  box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0,0,0,0.12);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}
/* toc btn */
.page-toc-menu a:hover {
  text-decoration: none!important;
  color: #008cff!important;
}
/* 左侧章节 */
li.chapter a:hover {
  color: #008cff!important;
  text-decoration: none!important;
}
.chapter > span {
  color: #aaa!important;
}
/* 引用框 */
.markdown-section blockquote {
  color: #2c3e50;
  border-left: 4px solid skyblue;
  background-color: #f3f5f7;
}
/* 文章标题 */
.markdown-section h1::before{
  content: "📕";
}
/* 主页链接样式 */
.markdown-section a:hover {
  text-decoration:none!important;
  font-weight:600!important;
}
/* 底部更新时间 */
.footer-modification::before {
  content: "⏰"
}
/* 底部字数 */
.footer-wordcount {
  float: right;
  margin-right: 10px;
  color: #333;
}
.footer-wordcount::before {
    content: "📍";
}
/* 阅读数 */
.page-view-counter::before{
  content:"⚡"
}
/* 搜索栏 */
#book-search-input input, #book-search-input input:focus, #book-search-input input:hover{
  width:auto!important;
  transition: all .3s;
}
#book-search-input input:focus{
  border: 1px solid #008cff;

}
#book-search-input::before{
  display: inline-block;
  content: "🔍";
}
/* 搜索高亮 */
#book-search-results span.search-highlight-keyword {
  color: #008cff;
  font-weight: 700;
  background: none;
  padding: 0 2px;
}
/* 搜索结果标题 */
#book-search-results .search-results .has-results .search-results-item a:hover{
  text-decoration: none;
  color: #72b0ec;
}
/* 文章页内高亮 */
mark {
  background: #008cff;
  color: #fff;
  font-weight: 700;
  padding: 1px 2px;
}
/* 左侧章节 */
.book-summary ul.summary li.active > a {
  border-right: 4px #008cff solid;
}
/* 底部更新历史 */
.copyright{
  float: left;
}
.copyright ul{
  border-left: 4px solid #ccc;
  list-style:none;
  padding-left:10px;
}
.copyright li {
  margin-top:4px;
}
.copyright ul li::before{
  content:"📃"
}
.copyright ul a{
  text-decoration:none!important;
}
.copyright ul a:hover{
  color: #008cff!important;
}
.page-footer ul li:last-child a {
  color: #3e90e8!important;
}
/* 首页章节字数 */
.chapter-wordcount{
  float:right;
  color:#ccc;
  font-size:14px;
  text-align:left;
}
/* 首页章节最后更新时间 */
.page-lastupdate{
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  height: 18px;
  line-height: 18px;
  padding: 0px 6px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #fff;
  top: 0;
  vertical-align: super;
}
/* 针对toc插件的扩展 */
.page-toc-menu1{
	display: block!important;
	position: absolute;
	margin-top:40px;
	width:280px;
	max-height:90%;
	overflow-y:auto;
	right: 88px;
	border-left: 1px solid #ccc;
  overflow-y:hidden;
}
.page-toc-menu1:hover {
  overflow-y:auto;
}
.page-toc-menu1 a {
    color: rgb(116, 129, 141);
    font-weight: 550;
}
.page-toc-menu1 a:hover {
  color: #3E90E8!important;
}
.page-toc-menu1 .active {
  color:#3e90e8!important;
}
.page-toc-menu1 ul {
  padding: 0 24px;
  list-style:none;
}
.page-toc-menu1 li {
  padding: 5px 0;
}
.page-toc-menu1 li a:hover:before {
  position:absolute;
  left:0;
  content:"🔎";
  border-left:3px solid #3E90E8;
}
.page-toc-menu1 li .active:before {
  position:absolute;
  left:0;
  content:"🔎";
  border-left:3px solid #3E90E8;
}
.page-toc-menu1 ul:first-child:before{
  content:"📋 目录列表";
  color: rgb(116, 129, 141);
}
/* 自适应处理 */
@media screen and (max-width : 1368px) {
  .page-inner {
      max-width:62%!important;
  }
  .page-toc-menu1 {
      right: 22px!important;
  }
}