name: test_buildbook

on:
  push:
    branches: [ '**', '!master', '!gh-pages' ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]
    
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: '0'

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}

    - name: 安装依赖
      run: |
        npm install
    - name: 书籍打包
      run: |
        npm run build